.wrapper {
    position: relative;
    width: 420px;
    background-color: #0891b2;
    color: #fff;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    padding: 20px 40px;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #fff;
    color: #0891b2;
    border: 2px solid #0891b2;
    padding: 5px;
    height: 24px;
    width: 24px;
    border-radius: 4px;
    display: block;
    transition: all ease-in 0.2s;
}

.closeButton:hover {
    color: #fff;
    background-color: #0891b2;
    border-color: #fff;
}

.icon {
    height: 24px;
    width: 24px;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.image {
    display: block;
}

.image > img {
    display: block;
    border-radius: 4px;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.currentTitle {
    font-size: 24px;
    font-weight: bold;
}

.originalTitle {
    font-size: 16px;
    color: #cbd5e1;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.infoBlock span {
    color: #cbd5e1;
}
