.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #94a3b8;
}
