.button {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a00;
    border-radius: 4px;
    color: #eee;
    border: none;
    cursor: pointer;
    z-index: 999;
    transition: all ease-in 0.15s;
    overflow: visible;
}

.button:hover {
    background-color: #f00;
    color: #fff;
}

.button .hint {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 55px;
    background-color: transparent;
    color: transparent;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    transition: all ease-in 0.15s;
}

.button:hover .hint {
    visibility: visible;
    background-color: #fff;
    color: #f00;
    border-color: #f00;
}

.icon {
    height: 40px;
    width: 40px;
}
