.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    position: relative;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    color: #334155;
}

.itemWrapper {
    margin: 0 auto;
    text-decoration: none;
    width: 185px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #0891b2;
    padding: 10px;
    border-radius: 4px;
    transition: all ease-in 0.2s;
}

.itemWrapper:hover {
    color: #ffffff;
    background-color: #0891b2;
}

.posterWrapper {
    display: flex;
    justify-content: center;
}
.posterWrapper > img {
    display: block;
    border-radius: 2px;
    overflow: hidden;
}

.textBlock {
    width: 185px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemCountry {
    font-size: 12px;
    color: #94a3b8;
    transition: all ease-in 0.2s;
}

.itemWrapper:hover .itemCountry {
    color: #e2e8f0
}
