.wrapper {
    margin-top: 40px;
    display: flex;
    gap: 5px;
}

.inputField {
    flex-grow: 1;
    padding: 6px 10px;
    border: 1px solid #0891b2;
    border-radius: 4px;
    font-size: 18px;
    color: #334155;
}

.inputField:focus {
    outline-color: #0e7490;
}

.submitButton {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    background-color: #0891b2;
    border: none;
    color: #fff;
    padding: 2px 16px;
    cursor: pointer;
    transition: all ease-in 0.1s;
    font-size: 14px;
}

.submitButton:hover {
    background-color: #0e7490;
}

.submitIcon {
    width: 20px;
    height: 20px;
}
